<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원 권한 변경</title>
</head>
<body>
<h1>회원 권한 변경(Admin)</h1>

<h2 th:text="'권한 변경: ' + ${user.username}"></h2>

<form th:action="@{'/admin/users/' + ${user.id} + '/edit-role'}" method="post">
    <label>권한 선택:</label><br/>
    <div th:each="role : ${allRoles}">
        <input type="checkbox" name="roles" th:value="${role}"
               th:checked="${user.roles.contains(role)}"/> <span th:text="${role}"></span><br/>
    </div>
    <button type="submit">권한 변경</button>
</form>

<p><a th:href="@{/}">홈으로</a></p>
</body>
</html>
