<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
</head>
<body>
<h1>My Page</h1>

<p>사용자명: <span th:text="${username}"></span></p>
<p>권한 목록:</p>
<ul>
    <li th:each="role : ${roles}" th:text="${role}"></li>
</ul>
<p>자기소개: <span th:text="${aboutMe}"></span></p>

<p><a th:href="@{/user/change-password}">비밀번호 변경</a></p>
<p><a th:href="@{/user/profile/edit}">프로필 수정</a></p>
<p><a th:href="@{/my-sessions}">내 세션 목록</a></p>
<p><a th:href="@{/}">홈으로</a></p>
</body>
</html>
