<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
<h2>회원가입</h2>

<form th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <label>아이디:</label>
        <input type="text" th:field="*{username}"/>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    </div>
    <div>
        <label>비밀번호:</label>
        <input type="password" th:field="*{password}"/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    </div>
    <div>
        <label>역할 선택:</label>
        <select th:field="*{selectedRole}">
            <option th:value="${T(com.jane.securitypractice.user.domain.Role).USER}">USER</option>
            <option th:value="${T(com.jane.securitypractice.user.domain.Role).ADMIN}">ADMIN</option>
        </select>
    </div>
    <button type="submit">가입하기</button>
</form>

<p th:if="${error}" th:text="${error}"></p>

</body>
</html>
